body,ul,li,p{
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  /* color: #A1AEB7; */
  background: #F5F5F5;
}

:root{
  --color-header: #007A7C;
  --color-paragraph: #454545;
}


img {
  max-width: 100%;
}

ul{
  list-style: none;
}

* {
  box-sizing: border-box;
}


html {
  font-family: 'Open Sans', sans-serif;
 }
